@model IEnumerable<CryptoInv.Models.Investments.InvestmentViewModel>

<table class="table table-striped table-hover table-data">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Coin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostNow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceChange24Hours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <p><i class="cc @Html.DisplayFor(modelItem => item.Coin.Id)"></i> @Html.DisplayFor(modelItem => item.Coin.Id)</p>
            </td>
            <td>
                <p>@Html.DisplayFor(modelItem => item.Amount)</p>
            </td>
            <td>
                <p>@Html.DisplayFor(modelItem => item.InvestmentDate)</p>
            </td>
            <td>
                <p>&pound;@(item.Cost >= 0.01 ? item.Cost.ToString("n2") : item.Cost.ToString())</p>
            </td>
            <td>
                <p>&pound;@(item.CostNow >= 0.01 ? item.CostNow.ToString("n2") : item.CostNow.ToString())</p>
            </td>
            <td>
                <p>&pound;@(item.Profit >= 0.01 ? item.Profit.ToString("n2") : item.Profit.ToString())</p>
            </td>
            <td>
                <p>@Html.DisplayFor(modelItem => item.PriceChange24Hours)%</p>
            </td>
            <td class="text-center">
                <div class="btn-group">
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Manage
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></li>
                        <li><a asp-action="Details" asp-route-id="@item.Id">Details</a></li>
                        <li><a asp-action="Delete" asp-route-id="@item.Id" OnClick="return confirm('Are you sure you want to delete this investment?');">Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>