@model CryptoInv.Models.Investments.InvestmentDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="heading single">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Details of Investment</h3>
            </div>
        </div>
    </div>
</div>
<div class="content-small grey content-with-chart">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="coin">
                    <h3><i class="cc @Model.Coin.Id"></i> @Model.Coin.Name <small>(@Model.Coin.Id)</small></h3>
                    <h4>@Model.PricePerCoinNow <small class="@(double.Parse(Model.PriceChange24Hours) < 0 ? "text-danger" : "text-success")">(@Model.PriceChange24Hours%)</small></h4>
                </div>
            </div>
            <div class="col-md-2">
                <h4 class="mt-2">@Html.DisplayFor(model => model.Hour24High)<br /><small>@Html.DisplayNameFor(model => model.Hour24High)</small></h4>
            </div>
            <div class="col-md-2">
                <h4 class="mt-2">@Html.DisplayFor(model => model.Hour24Low)<br /><small>@Html.DisplayNameFor(model => model.Hour24Low)</small></h4>
            </div>
            <div class="col-md-2">
                <h4 class="mt-2">@Html.DisplayFor(model => model.Volume24)<br /><small>@Html.DisplayNameFor(model => model.Volume24)</small></h4>
            </div>
            <div class="col-md-2">
                <h4 class="mt-2">@Html.DisplayFor(model => model.MarketCap)<br /><small>@Html.DisplayNameFor(model => model.MarketCap)</small></h4>
            </div>
        </div>
        <hr />
    </div>
    <div style="width: 100%">
        <canvas id="chart-area"></canvas>
    </div>
</div>
<div class="content summary">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="well well-lg">
                    <h4>You bought,</h4>
                    <h3>@Model.Amount @Model.CoinId <small>@Html.DisplayFor(model => model.InvestmentDate)</small></h3>
                    <hr />
                    <h4>You paid,</h4>
                    <h3>£@(Model.Cost >= 0.01 ? Model.Cost.ToString("n2") : Model.Cost.ToString()) <small>£@(Model.PricePerCoin >= 0.01 ? Model.PricePerCoin.ToString("n2") : Model.PricePerCoin.ToString()) per coin</small></h3>
                    <hr />
                    <h4>You have a,</h4>
                    <h3>£@(Model.Profit >= 0.01 ? Model.Profit.ToString("n2") : Model.Profit.ToString()) <small>@(Model.Profit < 0 ? "loss" : "profit")</small></h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well well-lg">
                    <h4>@Model.CoinId @Html.DisplayNameFor(model => model.MarketCap).ToLower(),</h4>
                    <h3>@Html.DisplayFor(model => model.MarketCap)</h3>
                    <hr />
                    <h4>@Model.CoinId @Html.DisplayNameFor(model => model.Supply).ToLower(),</h4>
                    <h3>@Html.DisplayFor(model => model.Supply)</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div style="height: 300px; width: 100%">
                    <canvas id="chart-area2"></canvas>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
<script type="text/javascript">
        var config = {
            type: 'line',
            data: {
                datasets: [{
                    data: [@string.Join(",", Model.ChartDataValue)],
                    backgroundColor: ['rgba(24,188,156, 0.5)'],
                }],
                labels: ["@Html.Raw(string.Join("\",\"", Model.ChartDataDate))"]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                tooltips: {
                    enabled: true,
                    callbacks: {
                        label: function (tooltipItem, data) {
                            return "Worth: £" + data['datasets'][0]['data'][tooltipItem['index']].toFixed(2);
                        }
                    }
                },
                scales: {
                    xAxes: [{
                        display: false
                    }],
                    yAxes: [{
                        display: false
                    }]
                },
            }
        };

        var config2 = {
            type: 'radar',
            data: {
                datasets: [{
                    data: [@Model.Profit, @Model.Profit1High, @Model.Profit1Low, @Model.Profit24Low.Replace(",", ""), @Model.Profit24High.Replace(",", "")],
                    backgroundColor: ['rgba(24,188,156, 0.5)']
                }],
                labels: ["Profit", "1h High", "1h Low", "24h Low", "24h High"]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                scale: {
                    ticks: {
                        display: false
                    }
                },
                tooltips: {
                    enabled: true,
                    callbacks: {
                        label: function (tooltipItem, data) {
                            return "£" + data['datasets'][0]['data'][tooltipItem['index']].toFixed(2);
                        }
                    }
                }
            }
        };

        window.onload = function () {
            var ctx = document.getElementById("chart-area").getContext("2d");
            window.myPie = new Chart(ctx, config);

            var ctx = document.getElementById("chart-area2").getContext("2d");
            window.myPie = new Chart(ctx, config2);
        };
</script>
}