@model IEnumerable<CryptoInv.Data.Investment>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Coin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerCoin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerCoinEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvestmentDateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Coin.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerCoin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerCoinEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvestmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvestmentDateEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
